
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background-color:bisque;
  --text-color-dark:#000;
  --text-color-white:#fff;
}

html{
  font-size: 10px;
}

body{
  background-color:var(--background-color) !important;
  transition: background-color ease-in 0.4s;
}


.btn{
  text-decoration: none;
  color:var(--text-color-white);
  padding: 8px 16px;
  border-radius: 12px;
}

.btn-success{
  background-color: #1DB954;
}

.btn-lg{
  padding: 12px 36px;
  font-size: 1.4rem;
  font-weight: 700;
}
.btn-sm{
  padding: 4px 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-dark{
  background-color: #666;
  color: #fff;
}

.main-layout-header{
  position: absolute;
  margin: 12px 12px 0 0;
  right: 0;
  top: 0;
  text-align: end;
}

.main-layout-content {
  min-height: 100vh;
  height: 100%;
  margin-top: 58px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container{
  max-width: 12800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px;
}

.main-content-playlist {
  max-width: 300px;
  width: 100%;
}
.playlist-heading{
  font-size:3.6rem ;
  margin: 16px 0;
}

.playlist-heading h1{
  line-height: 6rem ;
  font-weight: 900;
  color:var(--text-color-dark);
  margin-bottom: 30px;
  transition: color ease-in 0.4s;
}
.playlist-heading p{
  color:var(--text-color-dark);
  transition: color ease-in 0.4s;
  font-size: 1.4rem;
}

.playlist-content{
  position: relative;
  overflow: hidden;
  background-color: #000;
  border-radius: 3px;
  width: 280px;
  height: 380px;

}



.playlist-content-tracks{
  overflow: auto;
  height: 100%;
}
.current-track,
.tracks-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  color: var(--text-color-white);
  cursor: pointer;

}
.tracks-content:last-child{
  margin-bottom: 125px;
}
.tracks-content:hover {
  background-color: #999;
}

.current-track{
  background-color: rgb(36, 32, 32);
  cursor:default;
  text-align: center;
  justify-content: unset;

}

.current-track-img{
  width: 70px;
  height: 70px;
  background-image: url('https://i.scdn.co/image/ab67706c0000bebb42db32d8a4364531fc519516');
  background-repeat: no-repeat;
  background-size: cover;
}

.current-track-playbar{
  flex: 1;
}

.current-track-playbar h3{
  color: var(--text-color-white);
}

.tracks-content-index{
  display: flex;
  width: 50px;
  height: 100%;
}
.tracks-content-index p{
  margin: auto;
}

.tracks-heading-heading{
  height: 100%;
  width: calc(100% - 50px);
}

.tracks-heading-heading h3{
  color: var(--text-color-white);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0;
  line-height: 1.6rem;
}
.tracks-heading-heading p{
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.playlist-content-login {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  text-align: center;

}
.playlist-content-login p{
  font-weight: 700;
  font-size: 1.8rem;
  color:var(--text-color-white);
  margin-top: 12px;
  margin-bottom: 20px;
}

.playlist-toggle{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color:var(--text-color-white);
  font-size: 20px;
  cursor: pointer;
}

.toggle-hide {
  transform: translateY(60%);
  animation: moveDown linear 0.4s;
  will-change: translateY;
} 
audio::-webkit-media-controls-panel{
  background-color: transparent;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}
audio{
  height: 20px !important;
  width: 95% !important;
}


.img-mid{
  max-width: 600px;
  max-height: 600px;
  height: 100%;
  width: 100%;
}
.img-mid img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.songlist-wrapper{
  width: 250px; 
}

.show-pan-control{
  width: 250px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-layout-header span,
.trigger-darkmode label,
.show-pan-control label{
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 4px;
  cursor: pointer;
  color: var(--text-color-dark);
  transition: color ease-in 0.4s;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin: auto 0;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #000;
  border-radius: 2px;
  background-color:var(--text-color-white);
}
input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background-color:#000;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}


.songlist-item-heading svg{
  font-size: 1.2rem;
  margin: 0 4px;
  cursor: pointer;
}

.songlist-item{
  min-height: 78px;
}

.songlist-item + .songlist-item{
  margin-top: 3px;
}
.show-pan-control{
  margin-bottom: 0;
}

.songlist-pan-control,
.songlist-item-heading,
.songlist-item-vol{
  display: flex;
  align-items: center;
  max-height: 28px;
  color:var(--text-color-dark);
  transition: color ease-in 0.4s;
}

.slider--custom{
  flex: 1;
  margin: 4px 0 !important;
}

.ant-slider-rail{
  background-color: var(--text-color-dark) !important;
  height: 2px !important;
  transition: color ease-in 0.4s;
}

.ant-slider-handle{
  background-color: var(--text-color-dark) !important;
  border: 2px solid var(--background-color) !important;
}
.modal--custom{
  top: 10% !important;
}

.modal--custom h2{
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}
.modal--custom p{
  font-weight: 500;
}

.text-center{
  text-align: center;
}

.resume p,
.songlist-item-heading span,
.songlist-pan-control span{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  margin-bottom: 0; margin-right: 3px;
}

.resume{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.resume button{
  padding: 6px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.main-layout-footer{
  display: flex;
  justify-content: flex-end;
}

.main-layout-footer p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color-dark);
}

.form-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.form-modal input{
  max-width: 42px;
  padding: 4px 0;
  line-height: 2rem;
  font-size: 2rem;
  text-align: center;
}
.form-modal span{
  margin-left: 4px;
  font-weight: 500;
  font-size: 2rem;

}

.toggle-show {
  animation: moveUp linear 0.4s;
} 
@keyframes moveDown {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(60%);
  }
}
@keyframes moveUp {
  from{
    transform: translateY(60%);
  }
  to{
    transform: translateY(0%);
  }
}

@media screen and (max-width:800px) {
  .main-layout-content{
    flex-direction: column;
  }
  .main-content-playlist{
    order: 1;
    margin-bottom: 15px;
  }
  .songlist-wrapper{
    margin: 15px 0;
    order: 2;
  }
  .img-mid{
    margin: 15px 0;
    padding: 0 30px;
    order:3;
  }
  .main-layout-footer p{
    text-align: center;
    margin-top: 12px;
  }
}
